<div class="home" ng-show="!boardId" ng-cloak>
  <section>
    <h1>
      <img src="img/logo.png" alt="fun retro logo" />FunRetro
      <br />
      <small>Free Online Retrospective Tool</small>
    </h1>

    <button ng-click="modalService.openAddNewBoard(this)">NEW BOARD</button>
    <h2 class="section-header">Setup backend endpoint</h2>
        <input if ="endpoint" placeholder="http://localhost:3030" ng-model="endpoint" type="text"></input>
        <button class="first" style="display: inline-block; width: auto; height: auto; margin: 0;" ng-click="saveEndpoint()">Save</button>
  </section>
</div>